@import "tailwindcss";

@layer utilities {
  @keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  @keyframes appear {
    0%{
      color: gray;
      opacity: 0;
    }
    100%{
      color: white;
      opacity: 1;
    }
  }
  .animate-gradient-x {
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-x 3s ease infinite;
  }

  .change .div1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .change .div2 {
    opacity: 0;
  }

  .change .div3 {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .div1, .div2, .div3 {
    transition: all 0.3s ease-in-out;
  }

  @keyframes slideDown {
    0% {
      max-height: 0;
      opacity: 0;
    }
    100% {
      max-height: 500px;
      opacity: 1;
    }
  }

  .ani {
    animation: slideDown 0.5s ease forwards;
  }
  .ani1{
    animation: slideDown1 0.5s ease forwards;
  }
  @keyframes slideDown1 {
    100% {
      max-height: 0;
    }
    0% {
      max-height: 500px;
    }
  }
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .borderani{
    background: conic-gradient(from var(--angle),transparent 50%,blue);
    animation: borderani 5s infinite linear;
    position: relative;
  }
  
  .borderani::before{
    content: "";
    height:100%;
    width: 100%;
    top:50%;
    left: 50%;
    border-radius: 50%;
    translate: -50% -50%;
    position: absolute;
    background:conic-gradient(from var(--angle),transparent 50%,blue);
    animation: borderani 5s infinite linear;
    filter: blur(10px);
    z-index: -1;
  }
  .borderani2{
    background: conic-gradient(from var(--angle),rgb(0, 255, 238),rgb(0, 255, 0),blue,rgb(255, 0, 255),rgb(0, 255, 238));
    animation: borderani 2s infinite linear;
    position: relative;
  }
  
  @keyframes borderani {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }
}
.slide-h{
  animation: slide-h 0.6s linear;
}
@keyframes slide-h{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.slide{
  animation: slide 0.6s linear;
}
@keyframes slide{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
.profile:hover .profilehover {
  display: flex;
  cursor: pointer;
}
.revslide{
  animation: revslide 1s linear;
}
@keyframes revslide {
  0%{
    transform: translate(0%);
  }
  100%{
    transform: translate(100%);
  }
}
.scrollani{
  animation: scrollani linear;
  animation-timeline: view() ;
  animation-range: 20% cover 60%;
}
@keyframes scrollani {
  0%{
    color: black;
  }

  50%,80%,90%{
    color: white;
  }
  100%{
    color: rgb(0, 0, 0);
  }
}